In [86]:
import os
import torch
import argparse
import numpy as np
import pandas as pd
from torch import nn
from torchvision import transforms as T

In [88]:
import os
import numpy as np
import pandas as pd
from PIL import Image
from torch.utils.data import Dataset
from torchvision import transforms as T


class CUBDataset(Dataset):
    def __init__(self, dataset_dir: str, split: str='train', transforms=None) -> None:
        super().__init__()
        if dataset_dir.endswith('CUB_200_2011'):
            self.dataset_dir = dataset_dir
        else:
            self.dataset_dir = os.path.join(dataset_dir, 'CUB_200_2011')

        with open(os.path.join(self.dataset_dir, 'classes.txt')) as fp:
            lines = fp.read().split('\n')
            self.id2label = [l.split(' ')[1] for l in lines if len(l) > 0]  # ['001.Black_footed_Albatross', '002.Laysan_Albatross', ...]
        
        filename_df = pd.read_csv(os.path.join(self.dataset_dir, 'images.txt'),
                                  delimiter=' ',index_col=0, names=['filename'])
        split_df = pd.read_csv(os.path.join(self.dataset_dir, 'train_test_split.txt'),
                             delimiter=' ', index_col=0, names=['is_train'])
        label_df = pd.read_csv(os.path.join(self.dataset_dir, 'image_class_labels.txt'),
                             delimiter=' ', index_col=0, names=['label'])

        joined = filename_df.join(split_df).join(label_df)
        joined['label'] = joined['label'] - 1
        if split == 'train':
            split_idxs = joined['is_train'] == 1
        else:
            split_idxs = joined['is_train'] == 0
        self.ann = joined[split_idxs].drop(columns=['is_train']).reset_index(drop=True)

        if transforms:
            self.transforms = transforms
        else:
            self.transforms = T.ToTensor()

    @property
    def num_lables(self):
        return len(self.id2labels)

    def __len__(self):
        return len(self.ann)

    def __getitem__(self, idx):
        fn, label = self.ann.iloc[idx]
        img = Image.open(os.path.join(self.dataset_dir, 'images', fn))
        img = self.transforms(img)
        return img, torch.tensor(label)

In [89]:
cub = CUBDataset('data', 'train')

In [90]:
cub[0]

(tensor([[[0.0000, 0.0000, 0.0157,  ..., 0.0157, 0.0039, 0.0078],
          [0.0039, 0.0039, 0.0196,  ..., 0.0000, 0.0000, 0.0000],
          [0.0196, 0.0000, 0.2941,  ..., 0.2941, 0.0039, 0.0078],
          ...,
          [0.0157, 0.0000, 0.2980,  ..., 0.2902, 0.0000, 0.0000],
          [0.0000, 0.0078, 0.0039,  ..., 0.0000, 0.0118, 0.0000],
          [0.0000, 0.0039, 0.0078,  ..., 0.0078, 0.0039, 0.0000]],

         [[0.0000, 0.0000, 0.0157,  ..., 0.0157, 0.0039, 0.0078],
          [0.0039, 0.0039, 0.0196,  ..., 0.0000, 0.0000, 0.0000],
          [0.0196, 0.0000, 0.2941,  ..., 0.2941, 0.0039, 0.0078],
          ...,
          [0.0157, 0.0000, 0.2980,  ..., 0.2902, 0.0000, 0.0000],
          [0.0000, 0.0039, 0.0000,  ..., 0.0000, 0.0118, 0.0000],
          [0.0000, 0.0039, 0.0078,  ..., 0.0078, 0.0039, 0.0000]],

         [[0.0000, 0.0000, 0.0157,  ..., 0.0157, 0.0039, 0.0078],
          [0.0039, 0.0039, 0.0196,  ..., 0.0000, 0.0000, 0.0000],
          [0.0118, 0.0000, 0.2863,  ..., 0.2941, 0.0039, 0.0078],
          ...,
          [0.0157, 0.0000, 0.2980,  ..., 0.2902, 0.0000, 0.0000],
          [0.0157, 0.0235, 0.0196,  ..., 0.0000, 0.0118, 0.0000],
          [0.0000, 0.0039, 0.0078,  ..., 0.0078, 0.0039, 0.0000]]]),
 tensor(0))

In [82]:
cub.num_lables

200

In [62]:
images = pd.read_csv('data/CUB_200_2011/images.txt', delimiter=' ', index_col=0, names=['filename'])
train_test_split = pd.read_csv('data/CUB_200_2011/train_test_split.txt', delimiter=' ', index_col=0, names=['is_train'])
labels = pd.read_csv('data/CUB_200_2011/image_class_labels.txt', delimiter=' ', index_col=0, names=['label'])

In [68]:
joined = images.join(train_test_split).join(labels)
joined['label'] = joined['label'] - 1
train_split = joined[joined['is_train'] == 1].drop(columns=['is_train']).reset_index(drop=True)
test_split = joined[joined['is_train'] == 0].drop(columns=['is_train']).reset_index(drop=True)
train_split

                                               filename  label
0     001.Black_footed_Albatross/Black_Footed_Albatr...      0
1     001.Black_footed_Albatross/Black_Footed_Albatr...      0
2     001.Black_footed_Albatross/Black_Footed_Albatr...      0
3     001.Black_footed_Albatross/Black_Footed_Albatr...      0
4     001.Black_footed_Albatross/Black_Footed_Albatr...      0
...                                                 ...    ...
5989  200.Common_Yellowthroat/Common_Yellowthroat_00...    199
5990  200.Common_Yellowthroat/Common_Yellowthroat_00...    199
5991  200.Common_Yellowthroat/Common_Yellowthroat_00...    199
5992  200.Common_Yellowthroat/Common_Yellowthroat_00...    199
5993  200.Common_Yellowthroat/Common_Yellowthroat_00...    199

[5994 rows x 2 columns]

In [69]:
fn, label = test_split.iloc[0]
fn, label

('001.Black_footed_Albatross/Black_Footed_Albatross_0046_18.jpg', 0)

In [48]:
labels = joined['filename'].str.split('/').str[0].unique().tolist()
labels

['001.Black_footed_Albatross',
 '002.Laysan_Albatross',
 '003.Sooty_Albatross',
 '004.Groove_billed_Ani',
 '005.Crested_Auklet',
 '006.Least_Auklet',
 '007.Parakeet_Auklet',
 '008.Rhinoceros_Auklet',
 '009.Brewer_Blackbird',
 '010.Red_winged_Blackbird',
 '011.Rusty_Blackbird',
 '012.Yellow_headed_Blackbird',
 '013.Bobolink',
 '014.Indigo_Bunting',
 '015.Lazuli_Bunting',
 '016.Painted_Bunting',
 '017.Cardinal',
 '018.Spotted_Catbird',
 '019.Gray_Catbird',
 '020.Yellow_breasted_Chat',
 '021.Eastern_Towhee',
 '022.Chuck_will_Widow',
 '023.Brandt_Cormorant',
 '024.Red_faced_Cormorant',
 '025.Pelagic_Cormorant',
 '026.Bronzed_Cowbird',
 '027.Shiny_Cowbird',
 '028.Brown_Creeper',
 '029.American_Crow',
 '030.Fish_Crow',
 '031.Black_billed_Cuckoo',
 '032.Mangrove_Cuckoo',
 '033.Yellow_billed_Cuckoo',
 '034.Gray_crowned_Rosy_Finch',
 '035.Purple_Finch',
 '036.Northern_Flicker',
 '037.Acadian_Flycatcher',
 '038.Great_Crested_Flycatcher',
 '039.Least_Flycatcher',
 '040.Olive_sided_Flycatcher',
 '041.Scissor_tailed_Flycatcher',
 '042.Vermilion_Flycatcher',
 '043.Yellow_bellied_Flycatcher',
 '044.Frigatebird',
 '045.Northern_Fulmar',
 '046.Gadwall',
 '047.American_Goldfinch',
 '048.European_Goldfinch',
 '049.Boat_tailed_Grackle',
 '050.Eared_Grebe',
 '051.Horned_Grebe',
 '052.Pied_billed_Grebe',
 '053.Western_Grebe',
 '054.Blue_Grosbeak',
 '055.Evening_Grosbeak',
 '056.Pine_Grosbeak',
 '057.Rose_breasted_Grosbeak',
 '058.Pigeon_Guillemot',
 '059.California_Gull',
 '060.Glaucous_winged_Gull',
 '061.Heermann_Gull',
 '062.Herring_Gull',
 '063.Ivory_Gull',
 '064.Ring_billed_Gull',
 '065.Slaty_backed_Gull',
 '066.Western_Gull',
 '067.Anna_Hummingbird',
 '068.Ruby_throated_Hummingbird',
 '069.Rufous_Hummingbird',
 '070.Green_Violetear',
 '071.Long_tailed_Jaeger',
 '072.Pomarine_Jaeger',
 '073.Blue_Jay',
 '074.Florida_Jay',
 '075.Green_Jay',
 '076.Dark_eyed_Junco',
 '077.Tropical_Kingbird',
 '078.Gray_Kingbird',
 '079.Belted_Kingfisher',
 '080.Green_Kingfisher',
 '081.Pied_Kingfisher',
 '082.Ringed_Kingfisher',
 '083.White_breasted_Kingfisher',
 '084.Red_legged_Kittiwake',
 '085.Horned_Lark',
 '086.Pacific_Loon',
 '087.Mallard',
 '088.Western_Meadowlark',
 '089.Hooded_Merganser',
 '090.Red_breasted_Merganser',
 '091.Mockingbird',
 '092.Nighthawk',
 '093.Clark_Nutcracker',
 '094.White_breasted_Nuthatch',
 '095.Baltimore_Oriole',
 '096.Hooded_Oriole',
 '097.Orchard_Oriole',
 '098.Scott_Oriole',
 '099.Ovenbird',
 '100.Brown_Pelican',
 '101.White_Pelican',
 '102.Western_Wood_Pewee',
 '103.Sayornis',
 '104.American_Pipit',
 '105.Whip_poor_Will',
 '106.Horned_Puffin',
 '107.Common_Raven',
 '108.White_necked_Raven',
 '109.American_Redstart',
 '110.Geococcyx',
 '111.Loggerhead_Shrike',
 '112.Great_Grey_Shrike',
 '113.Baird_Sparrow',
 '114.Black_throated_Sparrow',
 '115.Brewer_Sparrow',
 '116.Chipping_Sparrow',
 '117.Clay_colored_Sparrow',
 '118.House_Sparrow',
 '119.Field_Sparrow',
 '120.Fox_Sparrow',
 '121.Grasshopper_Sparrow',
 '122.Harris_Sparrow',
 '123.Henslow_Sparrow',
 '124.Le_Conte_Sparrow',
 '125.Lincoln_Sparrow',
 '126.Nelson_Sharp_tailed_Sparrow',
 '127.Savannah_Sparrow',
 '128.Seaside_Sparrow',
 '129.Song_Sparrow',
 '130.Tree_Sparrow',
 '131.Vesper_Sparrow',
 '132.White_crowned_Sparrow',
 '133.White_throated_Sparrow',
 '134.Cape_Glossy_Starling',
 '135.Bank_Swallow',
 '136.Barn_Swallow',
 '137.Cliff_Swallow',
 '138.Tree_Swallow',
 '139.Scarlet_Tanager',
 '140.Summer_Tanager',
 '141.Artic_Tern',
 '142.Black_Tern',
 '143.Caspian_Tern',
 '144.Common_Tern',
 '145.Elegant_Tern',
 '146.Forsters_Tern',
 '147.Least_Tern',
 '148.Green_tailed_Towhee',
 '149.Brown_Thrasher',
 '150.Sage_Thrasher',
 '151.Black_capped_Vireo',
 '152.Blue_headed_Vireo',
 '153.Philadelphia_Vireo',
 '154.Red_eyed_Vireo',
 '155.Warbling_Vireo',
 '156.White_eyed_Vireo',
 '157.Yellow_throated_Vireo',
 '158.Bay_breasted_Warbler',
 '159.Black_and_white_Warbler',
 '160.Black_throated_Blue_Warbler',
 '161.Blue_winged_Warbler',
 '162.Canada_Warbler',
 '163.Cape_May_Warbler',
 '164.Cerulean_Warbler',
 '165.Chestnut_sided_Warbler',
 '166.Golden_winged_Warbler',
 '167.Hooded_Warbler',
 '168.Kentucky_Warbler',
 '169.Magnolia_Warbler',
 '170.Mourning_Warbler',
 '171.Myrtle_Warbler',
 '172.Nashville_Warbler',
 '173.Orange_crowned_Warbler',
 '174.Palm_Warbler',
 '175.Pine_Warbler',
 '176.Prairie_Warbler',
 '177.Prothonotary_Warbler',
 '178.Swainson_Warbler',
 '179.Tennessee_Warbler',
 '180.Wilson_Warbler',
 '181.Worm_eating_Warbler',
 '182.Yellow_Warbler',
 '183.Northern_Waterthrush',
 '184.Louisiana_Waterthrush',
 '185.Bohemian_Waxwing',
 '186.Cedar_Waxwing',
 '187.American_Three_toed_Woodpecker',
 '188.Pileated_Woodpecker',
 '189.Red_bellied_Woodpecker',
 '190.Red_cockaded_Woodpecker',
 '191.Red_headed_Woodpecker',
 '192.Downy_Woodpecker',
 '193.Bewick_Wren',
 '194.Cactus_Wren',
 '195.Carolina_Wren',
 '196.House_Wren',
 '197.Marsh_Wren',
 '198.Rock_Wren',
 '199.Winter_Wren',
 '200.Common_Yellowthroat']

In [36]:
pd.DataFrame(joined[['filename', 'labels']])

                                                filename  labels
1      001.Black_footed_Albatross/Black_Footed_Albatr...       0
2      001.Black_footed_Albatross/Black_Footed_Albatr...       0
3      001.Black_footed_Albatross/Black_Footed_Albatr...       0
4      001.Black_footed_Albatross/Black_Footed_Albatr...       0
5      001.Black_footed_Albatross/Black_Footed_Albatr...       0
...                                                  ...     ...
11784  200.Common_Yellowthroat/Common_Yellowthroat_00...     199
11785  200.Common_Yellowthroat/Common_Yellowthroat_00...     199
11786  200.Common_Yellowthroat/Common_Yellowthroat_00...     199
11787  200.Common_Yellowthroat/Common_Yellowthroat_00...     199
11788  200.Common_Yellowthroat/Common_Yellowthroat_00...     199

[11788 rows x 2 columns]

In [26]:
labels = joined['filename'].unique()
labels

array(['001.Black_footed_Albatross/Black_Footed_Albatross_0046_18.jpg',
       '001.Black_footed_Albatross/Black_Footed_Albatross_0009_34.jpg',
       '001.Black_footed_Albatross/Black_Footed_Albatross_0002_55.jpg',
       ..., '200.Common_Yellowthroat/Common_Yellowthroat_0008_190703.jpg',
       '200.Common_Yellowthroat/Common_Yellowthroat_0049_190708.jpg',
       '200.Common_Yellowthroat/Common_Yellowthroat_0055_190967.jpg'],
      dtype=object)

In [24]:
test_split = joined[joined['is_train'] == 0]
test_split

                                                filename  is_train  labels
1      001.Black_footed_Albatross/Black_Footed_Albatr...         0       1
3      001.Black_footed_Albatross/Black_Footed_Albatr...         0       1
6      001.Black_footed_Albatross/Black_Footed_Albatr...         0       1
10     001.Black_footed_Albatross/Black_Footed_Albatr...         0       1
12     001.Black_footed_Albatross/Black_Footed_Albatr...         0       1
...                                                  ...       ...     ...
11780  200.Common_Yellowthroat/Common_Yellowthroat_00...         0     200
11783  200.Common_Yellowthroat/Common_Yellowthroat_00...         0     200
11785  200.Common_Yellowthroat/Common_Yellowthroat_00...         0     200
11786  200.Common_Yellowthroat/Common_Yellowthroat_00...         0     200
11788  200.Common_Yellowthroat/Common_Yellowthroat_00...         0     200

[5794 rows x 3 columns]

In [20]:
images

                                                filename
1      001.Black_footed_Albatross/Black_Footed_Albatr...
2      001.Black_footed_Albatross/Black_Footed_Albatr...
3      001.Black_footed_Albatross/Black_Footed_Albatr...
4      001.Black_footed_Albatross/Black_Footed_Albatr...
5      001.Black_footed_Albatross/Black_Footed_Albatr...
...                                                  ...
11784  200.Common_Yellowthroat/Common_Yellowthroat_00...
11785  200.Common_Yellowthroat/Common_Yellowthroat_00...
11786  200.Common_Yellowthroat/Common_Yellowthroat_00...
11787  200.Common_Yellowthroat/Common_Yellowthroat_00...
11788  200.Common_Yellowthroat/Common_Yellowthroat_00...

[11788 rows x 1 columns]

In [19]:
labels

       labels
1           1
2           1
3           1
4           1
5           1
...       ...
11784     200
11785     200
11786     200
11787     200
11788     200

[11788 rows x 1 columns]

In [21]:
train_test_split

       is_train
1             0
2             1
3             0
4             1
5             1
...         ...
11784         1
11785         0
11786         0
11787         1
11788         0

[11788 rows x 1 columns]